Source: gpx2googlemaps
Section: utils
Priority: extra
Maintainer: Marc Poulhiès <dkm@kataplop.net>
Build-Depends: cdbs, debhelper (>= 7), python-cairo, imagemagick, python-support, python-all-dev
Standards-Version: 3.8.2
Homepage: http://github.com/twpayne/gpx2googlemaps

Package: gpx2googlemaps
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-cairo, imagemagick
Description: GPX to Google Maps converter
 GPX to Google Maps converter
